name: pipeline

on:
  push:
    branches:
      - develop
      - release
      - main
  workflow_dispatch:

jobs:
 
  # unit_test
 
  unit-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Run unit tests
        run: mvn test

      - name: Generate JaCoCo Badge
        id: jacoco
        uses: cicirello/jacoco-badge-generator@v2.11.0

      - name: Log coverage
        run: |
          echo "Coverage: ${{ steps.jacoco.outputs.coverage }}"
          echo "Branch Coverage: ${{ steps.jacoco.outputs.branches }}"

      - name: Upload JaCoCo report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco/


  # build

  build:
    runs-on: ubuntu-latest
    needs: unit-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn -B clean package -DskipTests

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: artifact
          path: target/demo-0.0.2.7-SNAPSHOT.jar

  
  # sonarcloud

  code-analysis:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: SonarCloud analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar


  # smoke_test_stg
  
  smoke-test-stg:
    runs-on: ubuntu-latest
    needs: code-analysis
    if: github.ref == 'refs/heads/develop'

    steps:
      - uses: actions/checkout@v3
      - name: Run smoke test STG
        run: sh src/main/scripts/smoketest.sh

  
  # integration_test
 
  integration-test:
    runs-on: ubuntu-latest
    needs: smoke-test-stg
    if: github.ref == 'refs/heads/develop'

    steps:
      - uses: actions/checkout@v3
      - name: Run integration tests
        run: sh src/main/scripts/testeIntegrado.sh

  
  # release_functional_test
  
  functional-test:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/release'

    steps:
      - uses: actions/checkout@v3
      - name: Run functional tests
        run: sh src/main/scripts/testesFuncionais.sh

 
  # release_test_2
  
  performance-test-release:
    runs-on: ubuntu-latest
    needs: functional-test
    if: github.ref == 'refs/heads/release'

    steps:
      - uses: actions/checkout@v3
      - name: Run performance tests
        run: sh src/main/scripts/testesPerformance.sh

 
  # smoke_test_prd
 
  smoke-test-prod:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v3
      - name: Run smoke test PROD
        run: sh src/main/scripts/smoketest.sh


  # performance_prd

  performance-test-prod:
    runs-on: ubuntu-latest
    needs: smoke-test-prod
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v3
      - name: Run performance tests PROD
        run: sh src/main/scripts/testesPerformance.sh
