name: pipeline

on:
  push:
  workflow_dispatch:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Tests
        run: mvn test  

      - name: Generate JaCoCo Badge
        id: jacoco
        uses: cicirello/jacoco-badge-generator@v2.0.1

      - name: Upload JaCoCo coverage report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco/

  # NOVO JOB: Corrigindo o erro de análise de código
  code-analisys:
    runs-on: ubuntu-latest
    needs: unit-test
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar

  build: 
    runs-on: ubuntu-latest
    needs: unit-test
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build JAR
        run: mvn -B package -DskipTests

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: artifact
          path: target/*.jar

  deploy-STG:
    runs-on: ubuntu-latest
    needs: [build, code-analisys] # Só deploya se passar no Sonar
    environment:
      name: stg
    if: github.ref == 'refs/heads/develop'
    steps:
      - name: Deploy 
        run: echo "Deploy STG"
          
  Smoketest:
    runs-on: ubuntu-latest
    needs: deploy-STG
    if: github.ref == 'refs/heads/develop'
    steps:
      - uses: actions/checkout@v3
      - name: Run Smoketest
        run: sh src/main/scripts/smoketest.sh
          
  testeIntegrados:
    runs-on: ubuntu-latest
    needs: Smoketest
    if: github.ref == 'refs/heads/develop'
    steps:
      - uses: actions/checkout@v3
      - name: Run Integrated Tests
        run: sh src/main/scripts/testeIntegrado.sh   

  deploy-Pre:
      runs-on: ubuntu-latest
      needs: [build, code-analisys]
      if: github.ref == 'refs/heads/release'
      environment:
        name: pre
      steps:
        - name: Deploy 
          run: echo "Deploy PRE"
    
  SmoketestPre:
    runs-on: ubuntu-latest
    needs: deploy-Pre
    if: github.ref == 'refs/heads/release'
    steps:
      - uses: actions/checkout@v3
      - name: Run Smoketest Pre
        run: sh src/main/scripts/smoketest.sh          
            
  testeFuncionais:
    runs-on: ubuntu-latest
    needs: SmoketestPre
    if: github.ref == 'refs/heads/release'
    steps:
      - uses: actions/checkout@v3
      - name: Run Functional Tests
        run: sh src/main/scripts/testesFuncionais.sh
